.seccionTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 90px;
    overflow: hidden;
}
.seccionTarjetas2{
    overflow: hidden;
}

.tarjeta {
    overflow: hidden;
    width: 45%;
    margin-top: 50px;
    border-radius: 35px;
    border: 1.4px solid rgba(0, 0, 0, 0.418);
}

.tarjeta img {
    width: 100%;
    overflow: hidden;
    object-fit: fill;
    object-position: center -150px;
}

.tarjeta h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    height: 90px;
}

.tarjeta h4 {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    padding: 10px 20px;

    /* margin: 0 auto; */
    
    margin-bottom: 1px;
    /* text-align: center; */
    border-radius: 10px;
    border: none;
    cursor:pointer;
    border: 2px solid #ffffff;
    background-color: #3FA2F9;
    transition: 0.2s all;
}
.tarjeta h4:active {
    border: 2px solid #3FA2F9;
    background-color: #3fa2f9f1;
}
.tarjeta h4:hover{
    transform : scale(1.05);
}